body
{
    padding-left: 3%;
    padding-right: 3%;
}
h1
{
    text-align: center;
    background-color: cornflowerblue;
    color: blue;
}
p 
{
    background-color: rgb(254, 240, 255);
}

h4 
{
    background-color: rgb(135, 212, 222);
}