body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

  }
  
  span.pcdrillsname{
    color: yellowgreen;
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
  }

  .topnav {
    /*overflow: hidden;*/
    overflow: auto;
    background-color: darkblue;
    /*background-color: #332;*/
  }
  
  .topnav a {
    float: left;
    color: #f1f2f2;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav a:hover {
    background-color: lightblue;
    /*background-color: #ddd;*/
    color: black;
  }
  
  .topnav a.active {
    background-color: blue;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

