.middle-section 
{
    padding-top: 1%;
    color: black;
    text-align: center;
    background-color: white;
    width: 80%;
    float: center;
    margin-left: 10%;
}
.middle-section a {
    color: yellowgreen;
}

span.email
{
    color: purple;
    background-color: seagreen;
}

.middle-section h1{
    color: blue;
}

.move-left
{   
    width: 50%;
    border-right: 1px dotted green;
    float: left;
    max-height: 100px;
    overflow: auto;
}
.move-right
{   
    overflow: auto;
    width: 49%;
    border-left: 1px dotted green;
    max-height: 100px;
}
h4
{
    padding-top: 2%;
}

.profilepic{
    margin: 1px;
}


.fewwords
{
    background-color: yellow;
}
