
.top-section
{
    padding: 20%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("../img/img-5.jpg"); 
    text-align: center;
}
.pcdrillst1
{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 400%;
    
}
.theengineersoftech
{
    color: wheat;
    font-weight: bolder;
    font-size: 200%;
    font-style: italic;
    text-decoration-line: underline overline ;
    text-overflow: ellipsis;
    text-decoration-color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}